.content {
    background-size: cover;
    background-repeat: no-repeat;
}

.content--1 {
    padding-bottom: 35%;
    background-image: url(../images/demo--1.jpg);
}

.content--2 {
    padding-bottom: 5%;
    background-image: url(../images/demo--1.jpg);
}

.foreground--1 {
    max-width: 30%;
    margin: auto;
}